body {
    background-color:  #191919;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 60%;
    height: 100vh;
    background-color:  black;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card {
    background-color: #ffffff;
    width: 53%;
    margin: 3rem;
    border-radius: 1%;
}

.card-header {
    display: flex;
    flex-wrap: wrap;
}
.logo-header{
    display: flex;
    align-items: center;
    flex-grow: 0.5;
    margin-left: 0.8em;
}
.title-header{
    display: flex;
    flex-grow: 0.5;
}
.icon-menu-header{
    display: flex;
    align-items: center;
    flex-grow: 8;
    margin-right: 0.8em;
    justify-content: flex-end;
}

.card-body img{
    width: 100%;
    object-fit: fill;
}

.card-footer {
    margin: 0.3em;
}
.card-footer-icon-actions {
    display: flex;
    padding-top: 0.8em;
}
.icon-favorite{ 
    display: flex;
    flex-grow: 0.2;
    margin-left: 0.8em;
}
.icon-comment{
    display: flex;
    flex-grow: 0.2;
}
.icon-send{
    display: flex;
    flex-grow: 0.2;
}
.icon-bookmark{
    display: flex;
    flex-grow: 7;
    margin-right: 0.8em;
    flex-flow: wrap;
    justify-content: flex-end;
}
.card-footer-tags {
    margin-top: 1em;
    padding: 0.8em;
    text-align: left;
}
.card-footer-text {
    margin-bottom: 1em;
    padding: 0.8em;
    color: #616161;
    text-align: justify;
}